FORMAT: 1A
HOST: https://app.pipefy.com


# Pipefy API

This is the Pipefy API documentation, here you will find the guide on how to get started with the API.

# GraphQL

GraphQL is a query language for APIs created by Facebook in 2012.

**Refs**:
* [facebook.github.io/graphql](http://facebook.github.io/graphql/)
* [graphql.org](http://graphql.org/)

Features:
* Send a GraphQL query to the API and get exactly what you need, nothing more and nothing less. GraphQL queries always return predictable results. 
* GraphQL queries access not just the properties of one resource but also smoothly follow references between them. While typical REST APIs require loading from multiple URLs, GraphQL APIs get all the data your app needs in a single request.

After authenticate to [Pipefy](https://app.pipefy.com/), you can explore the API through the web interface:

[app.pipefy.com/graphiql](https://app.pipefy.com/graphiql)
![GraphiQL](https://raw.githubusercontent.com/pipefy/graphql-api-doc/master/pipefy_graphiql.png?token=ABKZf10D3_5J8dtbHbVupQQ9XTfVqGFHks5YzKrWwA%3D%3D)

# Authentication (OAuth / JWT)

Most of requests will require the OAuth Token, that must be send in request header.

The personal OAuth Token is found at **User Settings** on [Pipefy](https://app.pipefy.com)

|HTTP Header      | Header Value              |
|-----------------|---------------------------|
|Content-Type     | _application/json_        |
|**Authorization**|_Bearer <your_oauth_token>_|



**Refs**:
* [OAuth 2](https://oauth.net/2/)
* [JWT](https://jwt.io/introduction/)


# GraphQL Root Queries 
* Me (User info)
* Organizations (**Optional** parameter: Organizations IDs)
* Organization (**Required** parameter: Organization ID)
* Pipes (**Required** parameter: Pipes ID)
* Pipe (**Required** parameter: Pipe ID)
* Phase (**Required** parameter: Phase ID)
* Cards (**Required** parameter: Pipe ID)
* Card (**Required** parameter: Card ID)

# GraphQL Root Mutations
* Create Card (**Required** parameter: Pipe ID)
* Delete Card (**Required** parameter: Card ID)
* Update Card (**Required** parameter: Card ID)
* Move Card to Phase (**Required** parameters: Card ID, Destination Phase ID)
* Update CardField (**Required** parameter: Card Field ID)
* Add Comment (**Required** parameters: Card ID, Text)
* Add Phase (**Required** parameters: Pipe ID, Name)
* Clone Pipe (**Required** parameters: Organization ID, Pipe Templates IDs)
* Create Label (**Required** parameters: Pipe ID, Name, Color)
* Create Organization (**Required** parameters: Industry, Name)
* Create Phase Field (**Required** parameters: Phase ID, Type ID, Label, Index)
* Create Pipe (**Required** parameters: Organization ID, Name)
* Delete Comment (**Required** parameter: Comment ID)
* Delete Label (**Required** parameter: Label ID)
* Delete Organization (**Required** parameter: Organization ID)
* Delete Phase (**Required** parameter: Phase ID)
* Delete Phase Field (**Required** parameter: Phase Field ID)
* Delete Pipe (**Required** parameter: Pipe ID)
* Set Role (**Required** parameter: Member's)
* Update Comment (**Required** parameters: Comment ID, Text)
* Update Label (**Required** parameters: Label ID, Name, Color)
* Update Organization (**Required** parameters: Organization ID, Name)
* Update Phase (**Required** parameters: Phase ID, Name)
* Update Phase Field (**Required** parameters: Phase Field ID, Label, Index)
* Update Pipe (**Required** parameters: Pipe ID, Name)


## Me [/queries{?me}]

Get information about yourself.

- User:
    - ID
    - Name
    - Username
    - Avatar URL
    - Email
    - Locale
    - Timezone

**Request Body**

```
{ 
    query: { 
        me { id, name, username, avatar_url, email, locale, time_zone }
    }
}
```

### Get Me [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "{ me { id, name, username, avatar_url, email, locale, time_zone } }" }

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "data": {
                    "me": {
                        "id": 9999,
                        "name": "Pipefy User",
                        "username": "pipefy.user",
                        "avatar_url": "https://avatar-images.pipefy.com/user-avatar.png",
                        "email": "pipefy.user@pipefy.com",
                        "locale": "en-US",
                        "time_zone": "America/Los_Angeles"
                    }
                }
            }

## Organizations [/queries{?organizations}]

Get the list of Organizations.

- Organizations:
    - ID
    - Name

**Request Body**
```
{ 
    query: { 
        organizations { id, name } 
    }
}
```

### Get organizations [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "{ organizations{ id, name} }" }

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "data": {
                    "organizations": [
                        {
                            "id": "9999",
                            "name": "Pipefy"
                        }
                    ]
                }
            }
            
## Organization [/queries{?organization}]

Get an Organization by Organization ID, with Pipes and Phases.

- Organization:
    - Name
    - Pipes:
        - Name
        - Phases:
            - Name

**Request Body**
```
{ 
    query: { 
        organization(id: 9999) { 
            name
            pipes { 
                name
                phases { name } 
            } 
        } 
    } 
}
```

### Get organization by ID [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "{ organization(id: 1){ name, pipes { name, phases { name } } } }" }

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "data": {
                    "organization": {
                        "name": "Pipefy",
                        "pipes": [
                            {
                                "name": "Developers Team",
                                "phases": [
                                    {
                                        "name": "ToDo"
                                    },
                                    {
                                        "name": "Doing"
                                    },
                                    {
                                        "name": "Done"
                                    }
                                ]
                            },
                            {
                                "name": "Sales Team",
                                "phases": [
                                    {
                                        "name": "To-do"
                                    },
                                    {
                                        "name": "Doing"
                                    },
                                    {
                                        "name": "Done"
                                    }
                                ]
                            }
                        ]
                    }
                }
            }
   
## Pipes [/queries{?pipes}]

Get Pipes by Pipes IDs, with Phases and Cards.

- Pipes:
    - ID
    - Name
    - Phases:
        - Name
        - Cards ([Relay Connections specs](https://facebook.github.io/relay/docs/graphql-connections.html)):
            - Edges:
                - Node (Cards):
                    - ID (Card ID)
                    - Title (Card Title)
                


**Request Body**
```
{
    query: {
        pipes(ids: [1]){
            id
            name
            phases{
                name
                cards(first: 10){
                    edges{
                        node{
                            id
                            title
                        }
                    }
                }
            }
        }
    }
}
```

### Get Pipes by IDs [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "{ pipes(ids: [1]){ id, name, phases{ name, cards(first: 10){ edges{ node{ id, title } } } } } }" }

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "data": {
                    "pipes": [
                        {
                            "id": "1",
                            "name": "Developers Team",
                            "phases": [
                                {
                                    "name": "To-Do",
                                    "cards": {
                                        "edges": [
                                            {
                                                "node": {
                                                    "id": "4",
                                                    "title": "Tuning API Cache"
                                                }
                                            },
                                            {
                                                "node": {
                                                    "id": "5",
                                                    "title": "Measure API Performance =D"
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "Doing",
                                    "cards": {
                                        "edges": [
                                            {   
                                                "node": {
                                                    "id": "3",
                                                    "title": "Create API Documentation ;-)"
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "Done",
                                    "cards": {
                                        "edges": [
                                            {
                                                "node": {
                                                    "id": "2",
                                                    "title": "Improve API"
                                                }
                                            },
                                            {
                                                "node": {
                                                    "id": "1",
                                                    "title": "Measure API Performance =/"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    ]
                }
            }

## Pipe [/queries{?pipe}]

Get a Pipe by Pipe ID, with Phases and Cards.

- Pipe:
    - ID
    - Name
    - Phases:
        - Name
        - Cards ([Relay Connections specs](https://facebook.github.io/relay/docs/graphql-connections.html)):
            - Edges:
                - Node (Cards):
                    - ID (Card ID)
                    - Title (Card Title)
                


**Request Body**
```
{
    query: {
        pipe(id: 1){
            id
            name
            phases{
                name
                cards(first: 1){
                    edges{
                        node{
                            id
                            title
                        }
                    }
                }
            }
        }
    }
}
```

### Get Pipe by ID [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "{ pipe(id: 1){ id, name, phases{ name, cards(first: 1){ edges{ node{ id, title } } } } } }" }

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "data": {
                    "pipe": {
                        "id": "1",
                        "name": "Developers Team",
                        "phases": [
                            {
                                "name": "To-Do",
                                "cards": {
                                    "edges": [
                                        {
                                            "node": {
                                                "id": "4",
                                                "title": "Tuning API Cache"
                                            }
                                        },
                                        {
                                            "node": {
                                                "id": "5",
                                                "title": "Measure API Performance =D"
                                            }
                                        }
                                    ]
                                }
                            },
                            {
                                "name": "Doing",
                                "cards": {
                                    "edges": [
                                        {   
                                            "node": {
                                                "id": "3",
                                                "title": "Create API Documentation ;-)"
                                            }
                                        }
                                    ]
                                }
                            },
                            {
                                "name": "Done",
                                "cards": {
                                    "edges": [
                                        {
                                            "node": {
                                                "id": "2",
                                                "title": "Improve API"
                                            }
                                        },
                                        {
                                            "node": {
                                                "id": "1",
                                                "title": "Measure API Performance =/"
                                            }
                                        }
                                    ]
                                }
                            }
                        ]
                    }
                }
            }
            
## Phase [/queries{?phase}]

Get a Phase by Phase id, with Cards, Fields and Cards Cane Be Moved To Phases.

- Phase:
    - ID
    - Name
    - Cards Count
    - Cards ([Relay Connections specs](https://facebook.github.io/relay/docs/graphql-connections.html)):
        - Edges:
            - Node (Cards):
                - ID (Card ID)
                - Title (Card Title)
    - Fields:
        - ID
    - Cards Can Be Moved To Phases:
        - ID
        - Name


**Request Body**
``` 
{   
    query: {
        phase(id: 2) {
            id
            name
            cards_count
            cards(first: 1) {
                edges {
                    node {
                        id
                        title
                    }
                }
            }
            fields { id }
            cards_can_be_moved_to_phases {
                id
                name
            }
        }
    }
}
```

### Get Phase by ID [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "{  phase(id: 2){ id name cards_count cards { edges{ node{ id, title } } } fields { id } cards_can_be_moved_to_phases { id name } } }" }

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "data": {
                    "phase": {
                        "id": "2",
                        "name": "Doing",
                        "cards_count": 2,
                        "cards": {
                            "edges": [
                                {
                                    "node": {
                                        "id": "1"
                                        "title": "My new card"
                                    }
                                },
                                {
                                    "node": {
                                        "id": "2"
                                        "title": "The second Card"
                                    }
                                }
                            ]
                        },
                        "fields": [
                            {
                                "id": "paid_value"
                            },
                            {
                                "id": "return_value"
                            },
                        ],
                        "cards_can_be_moved_to_phases": [
                            {
                                "id": 4,
                                "name": "To do"
                            },
                            {
                                "id": 5,
                                "name": "Waiting review"
                            }
                        ]
                    }
                }
            }
            
## Cards [/queries{?cards}]

Get Cards by Pipe ID, with Assignees, Child Relations, Fields ...

- Cards (Pipe ID):
    - Edges:
        - Node (Cards):
            - Title (Card Title)
            - Assignees:
                - ID
                - Username
            - Child Relations:
                - Name
                - Cards
            - Fields:
                - Name
                - Value
                - Phase Field

**Request Body**
```
{
    query: {
        cards(pipe_id: 1){
            edges{
                node{
                    title
                    assignees{ id, username }
                    child_relations {
                        name
                        cards { id }
                    }
                    fields {
                        name
                        value
                        phase_field { id }
                    }
                }
            }
        }
    }
}
```

### Get Cards by Pipe ID [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "{ cards(pipe_id: 1) { edges { node { title assignees { id, username } child_relations { name, cards { id } } fields { name, value, phase_field { id } } } } } }" }

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "data": {
                    "cards": {
                        "edges": [
                            {
                                "node": {
                                    "title": "sdfsafsadfsadf",
                                    "assignees": [
                                        {
                                            "id": "6",
                                            "username": "john"
                                        },
                                        {
                                            "id": "8",
                                            "username": "mary"
                                        }
                                    ],
                                    "child_relations": [
                                        {
                                            "name": "Subtasks",
                                            "cards": []
                                        }
                                    ]
                                    "fields": [
                                        {
                                            "name": "Paid Value",
                                            "value": "0",
                                            "phase_field": {
                                                "id": "paid_value"
                                            }
                                        },
                                        {
                                            "name": "Customer Name",
                                            "value": "sdfsafsadfsadf",
                                            "phase_field": {
                                                "id": "customer_name"
                                            }
                                        },
                                        {
                                            "name": "Customer Email",
                                            "value": "sfasf@sdfasfdasdf.com",
                                            "phase_field": {
                                                "id": "customer_email"
                                            }
                                        },
                                    ]
                                }
                            },
                        ]
                    }
                }
            }
            
## Card [/queries{?card}]

Get a Card by Card ID, with Assignees, Child Relations, Fields ...

- Card:
    - Title (Card Title)
    - Assignees:
        - ID
        - Username
    - Child Relations:
        - Name
        - Cards
    - Fields:
        - Name
        - Value
        - Phase Field

**Request Body**
```
{
    query: {
        card(id: 2){
            title
            assignees{ id, username }
            child_relations {
                name
                cards { id }
            }
            fields {
                name
                value
                phase_field { id }
            }
        }
    }
}
```

### Get Card by ID [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "{ card(id: 2) { title assignees { id, username } child_relations { name, cards { id } } fields { name, value, phase_field { id } } } }" }

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "data": {
                    "card": {
                        "title": "sdfsafsadfsadf",
                        "assignees": [
                            {
                                "id": "6",
                                "username": "john"
                            },
                            {
                                "id": "8",
                                "username": "mary"
                            }
                        ],
                        "child_relations": [
                            {
                                "name": "Subtasks",
                                "cards": []
                            }
                        ]
                        "fields": [
                            {
                                "name": "Paid Value",
                                "value": "0",
                                "phase_field": {
                                    "id": "paid_value"
                                }
                            },
                            {
                                "name": "Customer Name",
                                "value": "sdfsafsadfsadf",
                                "phase_field": {
                                    "id": "customer_name"
                                }
                            },
                            {
                                "name": "Customer Email",
                                "value": "sfasf@sdfasfdasdf.com",
                                "phase_field": {
                                    "id": "customer_email"
                                }
                            },
                        ]
                    }
                }
            }
            
## Create Card [/queries{?create_card}]

The endpoint to create a Card, in case of success a query is returned. When `fields_attributes` is passed as parameter, the `field_value` of first field_attribute replaces the card title. 

- Card's Parameters: 
    - Pipe ID
    - Title
    - Due Date
    - Assignee IDs
    - Fields Attributes:
        - Field ID
        - Field Value
    - Label IDs
    - Parent IDs


**Request Body**
```
mutation {
    createCard(input: {
                pipe_id: 1, 
                title: "Card created by a mutation", 
                due_date: "2017-01-15T09:05:06-02:00", 
                assignee_ids: [7], 
                fields_attributes: {
                    field_id: "label_name",
                    field_value: "This is a Field Value"
                }, 
                label_ids: [1]
            }
        )
    {
        card{
            id
            title
            due_date
            assignees { id, username } 
            labels { id, name }
            fields { name, value }
        }
    }
}
```

### createCard(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation{ createCard(input: {pipe_id: 1, title: \"My card created by mutation\", assignee_ids: [6], fields_attributes:{field_id: \"label_name\", field_value: \"Charlie\"}}) { card {id, title, due_date, assignees{id, username}, fields {name, value} }}}" }

+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                    "createCard": {
                        "card": {
                            "id": "32",
                            "title": "Charlie",
                            "due_date": "2017-01-15T09:05:06-02:00",
                            "assignees":[
                                {
                                    "id": "7",
                                    "username": "beth"
                                },
                                {
                                    "id": "8",
                                    "username": "mary"
                                }
                            ],
                            "fields":[
                                {
                                    "name": "Customer Name",
                                    "value": "Charlie"
                                }
                            ]
                        }
                    }
                }
            }

## Delete Card [/queries{?delete_card}]

The endpoint to delete a Card, in case of success a query `"success": true` is returned. 

- Card's Parameter: 
    - Card ID
    
**Request Body**
```
mutation {
    deleteCard(input: { id: 1} ) {
        success
    }
}
```

### deleteCard(input: card_id) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation{ deleteCard(input: {id: 42}) { success } }" }

+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                    "deleteCard": {
                        "success": true
                    }
                }
            }

## Update Card [/queries{?update_card}]

The endpoint to update a Card, in case of success a query is returned. 

- Card's Parameters: 
    - Card ID
    - Title
    - Due Date
    - Assignee IDs
    - Label IDs
    
**Request Body**
```
mutation {
    updateCard(input: 
        {
            id: 6, 
            title: "New Title", 
            due_date: "2017-01-10T11:15:06-02:00", 
            assignee_ids: [5], 
            label_ids: [2]
            }
    )
    {
        card {
            title
            due_date
            assignees { id, username }
            labels { id, name }
        }
    }
}
```

### updateCard(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation{ updateCard(input: {id: 6, title: \"New Title\", due_date: \"2017-01-10T11:15:06-02:00\", assignee_ids: [6], label_ids: [2]}) { card { title, due_date, assignees { id, username }, labels{ id, name }}}}" }

+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                    "updateCard": {
                        "card": {
                            "title": "New Title",
                            "due_date": "2017-01-10T11:15:06-02:00",
                            "assignees": [
                                {
                                    "id": "6",
                                    "username": "john"
                                }
                            ],
                            "labels": [
                                {
                                    "id": "2",
                                    "name": "new label"
                                }
                            ]
                        }
                    }
                }
            }

## Move Card To Phase [/queries{?move_card_to_phase}]

The endpoint to move a Card to a Phase, in case of success a card's query is returned. 

- Parameters: 
    - Card ID
    - Destination Phase ID
    
**Request Body**
```
mutation {
    moveCardToPhase(input: {card_id: 1, destination_phase_id: 3}) {
        card{
            title
            current_phase{ id, name }
        }
        
    }
}
```

### moveCardToPhase(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation{ moveCardToPhase(input: {card_id: 15, destination_phase_id: 2}){ card{ title, current_phase{ id, name } } } }" }

+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                    "moveCardToPhase": {
                        "card": {
                            "title": "Bug 1: System Error",
                            "current_phase": {
                              "id": "2",
                              "name": "Delivery"
                            }
                        }
                    }
                }
            }

## Update Card Field [/queries{?update_card_field}]

Mutation to update a Card Field, in case of success a query is returned. 

- Card Field's Parameters: 
    - Field ID
    - Card ID
    - New Value
    
**Request Body**
```
mutation {
    updateCardField(input:{card_id: 38, field_id: "paid_value", new_value: 9.35}){
        card {
            title
            current_phase { 
                name
                fields{ id, label}
            }
            fields { name, value }
        }
    }
}
```

### updateCardField(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation{ updateCardField(input:{card_id: 38, field_id: \"paid_value\", new_value: "9.32"}){ card{ title, current_phase { name, fields {id, label} }, fields{ name, value } } } }" }

+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                    "updateCardField": {
                        "card": {
                            title": "Product 1",
                            "current_phase": {
                                "name": "Delivery"
                                "fields": [
                                    {
                                        "id": "paid_value",
                                        "label": "Paid Value"
                                    }
                                ],
                            }
                            "fields": [
                                {
                                    "name": "Paid Value",
                                    "value": "9.32"
                                }
                            ]
                        }
                    }
                }
            }

## Add Comment [/queries{?add_comment}]

Mutation to Add a Comment to a Card, in case of success a query is returned.

- Parameters:
    - Card ID
    - Text

**Request Body**
```
mutation {
    addComment(input: {card_id: 15, text: "PipeFy is awesome! And I added this comment"}) {
        comment { text }
    }
}
```

### addComment(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation { addComment(input: {card_id: 15, text: \"PipeFy is awesome! And I added this comment\"}) { comment { text } } }" }
            
+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                     "addComment": {
                        "card": {
                            "comment": {
                                "text": "PipeFy is awesome! And I added this comment"
                            }
                        }
                    }
                }
            }

## Add Phase [/queries{?add_phase}]

Mutation to add a Phase in a Pipe, in case of success a query is returned.

- Parameters:
    - Pipe ID
    - Name
    - Done
    - Lateness Time
    - Description
    - Only Admin Can Move To Previous
    - Can Receive Card Directly From Draft

**Request Body**

```
mutation { 
    addPhase(
        input: {
            pipe_id: 1, 
            name: "To be Finished", 
            description: "This phase is to be used for cards that are to be finished",
            done: true, 
            only_admin_can_move_to_previous: true,
            can_receive_card_directly_from_draft: false
            
        }
    ) 
    { phase{ name } }
}
```

### addPhase(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation { addPhase(input: {pipe_id: 1, name: \"To be Finished\", description: \"This phase is to be used for cards that are to be finished\", done: true, only_admin_can_move_to_previous: true, can_receive_card_directly_from_draft: false}) { phase{ name } } }" }

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "data": {
                    "addPhase": {
                        "phase": {
                            "name": "To be Finished"
                        }
                    }
                }
            }

## Clone Pipe [/queries{?clone_pipe}]

Mutation to clone a Pipe, in case of success a query is returned.

- Parameters:
    - Organization ID
    - Pipe Template IDs

**Request Body**

```
mutation { 
    clonePipes(input: {organization_id: 1, pipe_template_ids:[1, 2, 3]}){
        pipes{ id, name } 
    }
}
```

### clonePipe(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation{ clonePipes(input: {organization_id: 1, pipe_template_ids:[1, 2, 3]}){ pipes{ id, name } } }" }

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "data": {
                    "clonePipes": {
                        "pipes": [
                            {
                                "id": "1",
                                "name": "Pizza Order (copy 1)"
                            }
                        ]
                    }
                }
            }

## Create Label [/queries{?create_label}]

Mutation to create a Label, in case of success a query is returned.

- Parameters:
    - Pipe ID
    - Name
    - Color

**Request Body**

```
mutation { 
    createLabel(input: {pipe_id: 5, name: "My label", color: "#000000"}){
        label{ 
            id
            name
            color
        }
    }
}
```

### createLabel(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation { createLabel(input: {pipe_id: 5, name: \"My label\", color: \"#FFFF00\"}){ label{ id, name, color } } }" }

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "data": {
                    "createLabel": {
                        "label": {
                            "id": "1",
                            "name": "My label",
                            "color": "#000000"
                        }
                    }
                }
            }

## Create Organization [/queries{?create_organization}]

Mutation to create a Organization, in case of success a query is returned.

- Organization's Parameters:
    - Industry
    - Name

**Request Body**

```
mutation { 
    createOrganization(input: {industry: "technology", name: "Oscorp"}){
        organization{ 
            id
            name
        }
    }
}
```

### createOrganization(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation { createOrganization(input: {industry: \"technology\", name: \"Oscorp\"}){ organization{ id, name } } }" }

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "data": {
                    "createOrganization": {
                        "organization": {
                            "id": "1",
                            "name": "Oscorp"
                        }
                    }
                }
            }

## Create Phase Field [/queries{?create_phase_field}]

Mutation to create a Phase Field, in case of success a query is returned.

- PhaseField's Parameters:
    - Phase ID
    - Type ID
    - Label
    - Index
    - Default Value
    - Options
    - Description
    - Required
    - Help
    - Editable
    - Can Create Database Record
    - Can Have Multiple Database Records
    - Database Field Layout
    - Sync With Card

**Request Body**

```
mutation { 
    createPhaseField(
        input: {
            phase_id: 2,
            type_id: "phone",
            label: "Customer Phone",
            index: 1.0,
            description: "Customer phone field",
            required: true,
            help: "Fill up with customer phone number",
            editable: false,
            can_create_database_record: false,
            can_have_multiple_database_records: false,
            sync_with_card: false
        }
    )
    {
        phase_field{
            id
            type
            description
            phase{ name }
        }
    }
}
```

### createPhaseField(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation{ createPhaseField(input: { phase_id: 4, type_id: \"phone\", label: \"Customer Home Phone \", index: 1.0, description: \"Customer Home phone field\", required: true, help: \"Fill up with customer home phone number\", editable: false, can_create_database_record: false, can_have_multiple_database_records: false, sync_with_card: false } ) { phase_field{ id, type, description, phase{ name } } } }" }

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "data": {
                    "createPhaseField": {
                        "phase_field": {
                            "id": "customer_home_phone",
                            "type": "phone",
                            "description": "Customer Home phone field",
                            "phase": {
                                "name": "Delivery"
                            }
                        }
                    }
                }
            }

## Create Pipe [/queries{?create_pipe}]

Mutation to create a Pipe, in case of success a query is returned.

- PhaseField's Parameters:
    - Organization ID
    - Name
    - Labels:
        - Name
        - Color
    - Members:
        - User ID
        - Role Name
    - Start Form Fields:
        - Phase ID
        - Type ID
        - Label
        - Default Value
        - Options
        - Description
        - Required
        - Help
        - Editable
        - Can Create Database Record
        - Can Have Multiple Database Records
        - Database Field Layout
        - Sync With Card
    - Phases:
        - Name
        - Done

**Request Body**

```
mutation{
    createPipe(
        input: {
            organization_id: 5,
            name: "Flying Project",
            labels:[
                {
                    name: "Single Label",
                    color:"#FF0044"
                }
            ],
            members:[
                { 
                  user_id: 3,
                  role_name: "admin"
                }
            ],
            phases:[
                { name:"Building"},
                { name: "Built", done: true}
            ],
            start_form_fields:[
                {
                    label: "Label of Fly Proj.",
                    type_id: "phone"
                }
            ]
        }
    )
    {
        pipe{
            name
            members{ user{ username } }
            phases{ name }
            start_form_fields { id }
        }
    }
}
```

### createPipe(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation{ createPipe( input: { organization_id: 5, name: \"Flying Project\", labels:[ { name: \"Single Label\", color:\"#FF0044\" } ], members:[ { user_id: 3, role_name: \"admin\" } ], phases:[ { name:\"Building\"}, { name: \"Built\", done: true} ], start_form_fields:[ { label: \"Label of Fly Proj.\", type_id: \"phone\" } ] } ) { pipe{ name, members{ user{ username } } phases{ name } start_form_fields { id } } } }" }

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "data": {
                    "createPipe": {
                        "pipe": {
                            "name": "Flying Project",
                            "members": [
                                {
                                    "user": {
                                        "username": "obama"
                                    }
                                },
                                {
                                    "user": {
                                        "username": "john"
                                    }
                                }
                            ],
                            "phases": [
                                {
                                    "name": "Building"
                                },
                                {
                                    "name": "Built"
                                }
                            ],
                            "start_form_fields": [
                                {
                                    "id": "label_of_fly_proj"
                                }
                            ]
                        }
                    }
                }
            }

## Delete Comment [/queries{?delete_comment}]

Mutation to delete a Comment of a Card, in case of success a query is returned.

- Parameter:
    - Comment ID

**Request Body**
```
mutation {
    deleteComment(input: {id: 1}) {
        success
    }
}
```

### deleteComment(input: id) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation { deleteComment(input: {id: 1}) { success } }" }
            
+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                     "deleteComment": {
                        "card": {
                            "success": true
                        }
                    }
                }
            }

## Delete Label [/queries{?delete_label}]

Mutation to delete a Label, in case of success a query is returned.

- Parameter:
    - Label ID

**Request Body**
```
mutation {
    deleteLabel(input: {id: 1}) {
        success
    }
}
```

### deleteLabel(input: id) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation { deleteLabel(input: {id: 1}) { success } }" }
            
+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                     "deleteLabel": {
                        "card": {
                            "success": true
                        }
                    }
                }
            }

## Delete Organization [/queries{?delete_organization}]

Mutation to delete an Organization, in case of success a query is returned.

- Parameter:
    - Organization ID

**Request Body**
```
mutation {
    deleteOrganization(input: {id: 1}) {
        success
    }
}
```

### deleteOrganization(input: id) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation { deleteOrganization(input: {id: 1}) { success } }" }
            
+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                     "deleteOrganization": {
                        "card": {
                            "success": true
                        }
                    }
                }
            }

## Delete Phase [/queries{?delete_phase}]

Mutation to delete a Phase of a pipe, in case of success a query is returned.

- Parameter:
    - Phase ID

**Request Body**
```
mutation {
    deletePhase(input: {id: 1}) {
        success
    }
}
```

### deletePhase(input: id) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation { deletePhase(input: {id: 1}) { success } }" }
            
+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                     "deletePhase": {
                        "card": {
                            "success": true
                        }
                    }
                }
            }

## Delete Phase Field [/queries{?delete_phase_field}]

Mutation to delete a Phase field, in case of success a query is returned.

- Parameter:
    - Phase Field ID

**Request Body**
```
mutation {
    deletePhaseField(input: {id: 1}) {
        success
    }
}
```

### deletePhaseField(input: id) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation { deletePhaseField(input: {id: 1}) { success } }" }
            
+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                     "deletePhaseField": {
                        "card": {
                            "success": true
                        }
                    }
                }
            }

## Delete Pipe [/queries{?delete_pipe}]

Mutation to delete a Pipe, in case of success a query is returned.

- Parameter:
    - Pipe ID

**Request Body**
```
mutation {
    deletePipe(input: {id: 1}) {
        success
    }
}
```

### deletePipe(input: id) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation { deletePipe(input: {id: 1}) { success } }" }
            
+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                    "deletePipe": {
                        "card": {
                            "success": true
                        }
                    }
                }
            }

## Set Role [/queries{?set_role}]

Mutation to Set Role to an user, in case of success a query is returned.

- Parameters:
    - Organization ID
    - Pipe ID
    - Member:
        - User ID
        - Role Name

**Request Body**
```
mutation {
    setRole(input: {pipe_id: 5, organization_id: 1, member: {user_id: 4, role_name: "member" } }) {
        member{
            role_name
            user{ username }
        }
    }
}
```

### setRole(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation { setRole(input: {pipe_id: 5, organization_id: 1, member: {user_id: 4, role_name: \"member\" } }) { member{ role_name, user{ username } } } }" }
            
+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                    "setRole": {
                        "member": {
                            "role_name": "member",
                            "user": {
                                "username": "dioguinho" 
                            }
                        }
                    }
                }
            }

## Update Comment [/queries{?update_comment}]

Mutation to update a Comment, in case of success a query is returned.

- Comment's Parameters:
    - Comment ID
    - Text

**Request Body**
```
mutation {
    updateComment(input: {id: 2, text: "Edit: I'm editing this comment"}) {
        comment{
            author_name
            text
        }
    }
}
```

### updateComment(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation{ updateComment(input: {id: 2, text: \"Edit: I'm editing this comment\"}){ comment { author_name, text } } }" }
            
+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                    "updateComment": {
                        "comment": {
                            "author_name": "John",
                            "text": "Edit: I'm editing this comment"
                        }
                    }
                }
            }

## Update Label [/queries{?update_label}]

Mutation to update a Label, in case of success a query is returned.

- Label's Parameters:
    - Label ID
    - Name
    - Color

**Request Body**
```
mutation {
    updateLabel(input:{id: 12, color: "#000000", name: "Changed Name Label"}){
        label{ name, color }
    }
}
```

### updateLabel(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation { updateLabel(input:{id: 12, color: \"#000000\", name: \"Changed Name Label\"}){ label{ name, color } } }" }
            
+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                    "updateLabel": {
                        "label": {
                            "name": "Changed Name Label",
                            "color": "#000000"
                        }
                    }
                }
            }

## Update Organization [/queries{?update_organization}]

Mutation to update a Organization, in case of success a query is returned.

- Organization's Parameters:
    - Organization ID
    - Name
    - Only Admin Can Invite Users
    - Only Admin Can Create Pipes
    - Force Omniauth To Normal Users

**Request Body**
```
mutation{
    updateOrganization(input:{id: 5, name: "Capsule Corp.", only_admin_can_invite_users: true }) {
        organization{
            name
            only_admin_can_create_pipes
            only_admin_can_invite_users
            force_omniauth_to_normal_users
        }
    }
}
```

### updateOrganization(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation{ updateOrganization(input:{id: 5, name: \"Capsule Corp.\", only_admin_can_invite_users: true }) { organization{ name, only_admin_can_create_pipes, only_admin_can_invite_users, force_omniauth_to_normal_users } } }" }
            
+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                    "updateOrganization": {
                        "organization": {
                            "name": "Capsule Corp.",
                            "only_admin_can_create_pipes": false,
                            "only_admin_can_invite_users": true,
                            "force_omniauth_to_normal_users": null
                        }
                    }
                }
            }

## Update Phase [/queries{?update_phase}]

Mutation to update a Phase, in case of success a query is returned.

- Phase's Parameters:
    - Phase ID
    - Name
    - Done
    - Lateness Time
    - Description
    - Only Admin Can Move To Previous
    - Can Receive Card Directly From Draft

**Request Body**
```
mutation{
    updatePhase(input:{id: 2, name: "Available to test", only_admin_can_move_to_previous: false, can_receive_card_directly_from_draft: true, description: "I'm editing this phase"}) {
        phase{
            name
            cards_count
            cards{ edges{ node{ title } } }
            cards_can_be_moved_to_phases{ id, name }
        }
    }
}
```

### updatePhase(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation{ updatePhase(input:{id: 2, name: \"Available to test\", only_admin_can_move_to_previous: false, can_receive_card_directly_from_draft: true, description: \"I'm editing this phase\"  }) { phase{ name, cards_count, cards{ edges{ node{ title } } }, cards_can_be_moved_to_phases{ id, name } } } }" }
            
+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                    "updatePhase": {
                        "phase": {
                            "name": "Available to test",
                            "cards_count": 1,
                            "cards": {
                                "edges": [
                                    {
                                        "node": {
                                            "title": "Draft"
                                        }
                                    }
                                ]
                            },
                            "cards_can_be_moved_to_phases": [
                                {
                                    "id": "3",
                                    "name": "Prepare"
                                },
                                {
                                    "id": "4",
                                    "name": "Delivered"
                                }
                            ]
                        }
                    }
                }
            }

## Update Phase Field [/queries{?update_phase_field}]

Mutation to update a Phase Field, in case of success a query is returned.

- Phase Field's Parameters:
    - Phase ID
    - Name
    - Done
    - Lateness Time
    - Description
    - Only Admin Can Move To Previous
    - Can Receive Card Directly From Draft

**Request Body**
```
mutation{
    updatePhaseField(
        input:{
            id: "paid_value", 
            index: 1.1, 
            label: "Paid Value R$", 
            required: false,
            editable: false,
            help: "Fill this field with paid value (R$)",
            description: "The Paid Value with currency symbol",
            sync_with_card: true
        }
    )
    { 
        phase_field{ 
            id,
            label,
            required,
            description,
            synced_with_card,
            phase{ name }
        }
    }
}
```

### updatePhaseField(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation { updatePhaseField(input: {id: \"paid_value\", index: 1.1, label: \"Paid Value R$\", required: false, editable: false, help: \"Fill this field with paid value (R$)\", description: \"The Paid Value with currency symbol\", sync_with_card: true}) { phase_field { id label required description synced_with_card phase { name } } } }" }
            
+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                    "updatePhaseField": {
                        "phase_field": {
                            "id": "paid_value",
                            "label": "Paid Value R$"
                            "required": false,
                            "description": "The Paid Value with currency symbol",
                            "synced_with_card": false,
                            "phase": {
                                "name": "Payment"
                            }
                        }
                    }
                }
            }

## Update Pipe [/queries{?update_pipe}]

Mutation to update a Pipe, in case of success a query is returned.

- Pipe's Parameters:
    - ID
    - Name
    - Icon
    - Title Field ID
    - Expiration Time By Unit
    - Expiration Unit
    - Public
    - Only Assignees Can Edit Cards
    - Only Admin Can Remove Cards
    - Anyone Can Create Card

**Request Body**
```
mutation{
    updatePipe(
        input:{ 
            id: 1, 
            name: "Pizza Order", 
            anyone_can_create_card: true, 
            public: true, 
            only_admin_can_remove_cards: true, 
            only_assignees_can_edit_cards: true
        }
    )
    {
        pipe{
            name
            public
            only_assignees_can_edit_cards
            only_admin_can_remove_cards
            title_field{ id, synced_with_card }     
        }
    }
}
```

### updatePipe(input: params) [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer your_oauth_token

    + Body

            { "query": "mutation{ updatePipe(input:{ id: 1, name: \"Pizza Order\", anyone_can_create_card: true, public: true, only_admin_can_remove_cards: true, only_assignees_can_edit_cards: true}) { pipe{ name public only_assignees_can_edit_cards only_admin_can_remove_cards title_field{ id synced_with_card } } } }" }
            
+ Response 200 (application/json; charset=utf-8)
    
    + Body
    
            {
                "data": {
                    "updatePipe": {
                        "pipe": {
                            "name": "Pizza Order",
                            "public": true,
                            "only_assignees_can_edit_cards": true,
                            "only_admin_can_remove_cards": true,
                            "title_field": {
                                "id": "customer_name",
                                "synced_with_card": false
                            }
                        }
                    }
                }
            }